body {
    background-color: #7065eb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 450px;
    text-align: center;
}

.login-title h1 {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    padding: 12px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 18px;
}

.login-form button {
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.login-form button.login {
    background-color: #7065eb;
    color: white;
}

.login-form button.login:hover {
    background-color: #5a53c9;
}

.login-form button.reset {
    background-color: #ff9800;
    color: white;
}

.login-form button.reset:hover {
    background-color: #e68a00;
}


#login-username,
#login-password {
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    text-align: left;
    margin-left: -7px;  
    margin-bottom: -20px;
}
